@font-face {
  font-family: FiraSans;
  font-weight: 100;
  src: url("http://162.243.103.157/assets/fonts/FiraSans3105/OTF/FiraSans-UltraLight.otf") format("opentype");
}

@font-face {
  font-family: FiraSans;
  src: url("http://162.243.103.157/assets/fonts/FiraSans3105/OTF/FiraSans-Regular.otf") format("opentype");
}
