body {
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
}

.login-background {
  background-image: url("http://162.243.103.157/assets/building.jpg");
  background-position: center;
  background-size: 100% auto;
  padding-top: 60px;
  height: 100vh;
}

.login-status {
  text-align: center;
  margin-bottom: 20px;
}

.pick-me-up-star {
  font-size: 24px;
  top: 7px;
  margin-right: 20px;
}

.star-add-container {
  margin-top: 15px;
}

.rem-form-container {
  max-width: 350px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
}

.rem-field {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
  height: 54px;
}

.panel-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.delete-account-background {
  background-image: url("http://162.243.103.157/assets/landscape.jpg");
  height: 100vh;
  width: 100vw;
  padding: 15vh;
}

.delete-account-container {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.delete-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Huge Desktop */
@media screen and (min-width: 1200px) {

} /* -------- 1200px ---------- */

/* Desktop */
@media screen and (max-width: 1199px) {

} /* -------- 1199px ---------- */

/* iPad 1/2/3/4/Mini | landscape */
@media screen and (max-width: 1024px) {

} /* -------- 1024px ---------- */

/* iPad 1/2/3/4/Mini | portrait */
@media screen and (max-width: 768px) {

  .login {
    width: 80%;
  }
} /* -------- 768px ---------- */

/* iPhone 5/5S | landscape */
@media screen and (max-width: 568px) {

} /* -------- 568px ---------- */

/* iPhone 4/4S | landscape */
@media screen and (max-width: 480px) {

} /* -------- 480px ---------- */

/* iPhone 4/4S/5/5S | portrait */
@media screen and (max-width: 320px) {

  .login {
    width: 90%;
  }
} /* end of (min-width: 320px) */
