<div class="login-background">
  <div class="rem-form-container centered">
    <h1>Rememoir</h1>
    <p class="form-status" ng-class="{ 'error-text' : createUser.status.isError }">{{ createUser.status.text }}</p>
    <form class="form-horizontal" role="form">
      <div class="centered">
        <input type="email" class="rem-field form-control rem-box-shadow-light" id="inputEmail3" ng-model="createUser.email" placeholder="Email">
        <input type="password" class="rem-field form-control rem-box-shadow-light" id="inputPassword3" ng-model="createUser.password" placeholder="Password">
        <button type="submit" class="rem-field rem-button btn btn-primary rem-box-shadow-light" ng-click="createUser.signUp()">Sign me up!</button>
        <a class="login-link" ng-click="createUser.navigateTo('/')">No Thanks, take me back</a>
      </div>
    </form>
  </div>
</div>
