<div class="delete-account-background">
  <div class="rem-form-container centered">
    <h2>Are you sure you want to delete your account?</h2>
    <p class="form-status">{{ deleteAccount.status }}</p>
    <form class="form-horizontal" role="form">
        <input type="email" class="rem-field form-control rem-box-shadow-light" id="inputEmail3" ng-model="deleteAccount.email" placeholder="Email">
        <input type="password" class="rem-field form-control rem-box-shadow-light" id="inputPassword3" ng-model="deleteAccount.password" placeholder="Password">
        <button type="submit" class="rem-field btn btn-danger rem-box-shadow-light rem-button" ng-click="deleteAccount.deleteAccount()">Delete Account</button>
        <a class="login-link" ng-click="deleteAccount.navigateTo('/home')">No Thanks, take me back</a>
    </form>
  </div>
</div>
