<div class="delete-account-background">
  <div class="delete-account-container">
    <div class="panel panel-primary">
      <div class="panel-body">
        <h2 class="delete-title">Are you sure you want to delete your account?</h2>
        <form class="form-horizontal" role="form">
          <div class="centered">
            <input type="email" class="rem-field form-control" id="inputEmail3" ng-model="deleteAccount.email" placeholder="Email">
        </div>
        <div class="centered">
          <input type="password" class="rem-field form-control" id="inputPassword3" ng-model="deleteAccount.password" placeholder="Password">
          <div class="centered">
              <span><button type="submit" class="rem-field btn btn-danger" ng-click="deleteAccount.deleteAccount()">Delete Account</button></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
