<div class="container">
  <h1>Are you sure you want to delete your account?</h1>
  <div class="panel panel-primary">
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="login-form-group">
          <input type="email" class="login-field form-control" id="inputEmail3" ng-model="deleteAccount.email" placeholder="Email">
      </div>
      <div class="login-form-group">
        <input type="password" class="login-field form-control" id="inputPassword3" ng-model="deleteAccount.password" placeholder="Password">
        <div class="login-form-group">
            <span><button type="submit" class="login-field btn btn-primary" ng-click="deleteAccount.deleteAccount()">Delete Account</button></span>
        </div>
      </form>
    </div>
  </div>
</div>
