<div class="login-background">
  <div class="rem-form-container centered">
    <h1>Rememoir</h1>
    <p class="form-status">{{ forgetPassword.status }}</p>
    <form class="form-horizontal" role="form">
      <input type="email" class="rem-field form-control rem-box-shadow-light" ng-model="forgetPassword.email" placeholder="Email">
      <button type="submit" class="rem-field rem-button btn btn-primary rem-box-shadow-light" ng-click="forgetPassword.onSendResetEmailClicked()">Send Reset Email</button>
      <a class="login-link" ng-click="forgetPassword.navigateTo('/')">No Thanks, take me back</a>
    </form>
  </div>
</div>
