<div class="home-background">
  <div class="container">
    <rmmr-header></rmmr-header>
    <!-- New Entry -->
    <div class="clearfix entry-form">
      <!-- Default panel contents -->
      <textarea class="form-control rem-box-shadow" ng-model="home.memory" rows="3" placeholder="Start your next entry"></textarea>
      <div class="pull-right star-add-container">
        <span class="glyphicon pick-me-up-star" ng-class="{ 'glyphicon-star-empty' : !home.isPickMeUp, 'glyphicon-star' : home.isPickMeUp }" ng-click="home.togglePickMeUp()"></span>
        <span><button ng-click="home.addEntry()" type="button" class="btn btn-primary rem-box-shadow">Save</button></span>
      </div>
    </div>
    <!-- Entries -->
    <ul class="list-group">
      <!-- 'barrel_bottom' keeps the entries reference populated with at least one dummy entry. -->
      <!-- If the user deletes all of their entries, the entries reference will be removed from the firebase and cause errors when $firebase attempts to refer to it. -->
      <li class="list-group-item rem-list-group-item rem-box-shadow"
        ng-class="{ 'hidden' : entry.memory === 'barrel_bottom' }"
        ng-repeat="(key, entry) in home.entries | orderObjectBy : 'date' : true"
        ng-style="{ 'background-color' : home.colorPallete[$index % home.colorPallete.length] }">
        <!-- entries is an object that is converted into and array and sorted by reverse date using the orderObjectBy filter. During conversion, the keys are nested inside the object. -->
        <span class="glyphicon glyphicon-remove pull-right" ng-click="home.removeEntry(entry.key)"></span>
        <h4>{{ entry.date | date: 'EEEE' }},</h4>
        <h4>{{ entry.date | date: 'longDate' }}</h4>
        <p class="memory">{{ entry.memory }}</p>
      </li>
    </ul>
    <change-password ng-show="changePassword.isTemporaryPassword"></change-password>
  </div>
</div>
