<style>

.hello {
  font-size: 200px;
  text-align: center;
}

/* Huge Desktop */
@media screen and (min-width: 1200px) {

} /* -------- 1200px ---------- */

/* Desktop */
@media screen and (max-width: 1199px) {

  .hello {
    font-size: 3em;
  }
} /* -------- 1199px ---------- */

/* iPad 1/2/3/4/Mini | landscape */
@media screen and (max-width: 1024px) {

  .hello {
    font-size: 2em;
  }
} /* -------- 1024px ---------- */

/* iPad 1/2/3/4/Mini | portrait */
@media screen and (max-width: 768px) {

} /* -------- 768px ---------- */

/* iPhone 5/5S | landscape */
@media screen and (max-width: 568px) {

} /* -------- 568px ---------- */

/* iPhone 4/4S | landscape */
@media screen and (max-width: 480px) {

  .hello {
    font-size: 1em;
  }
} /* -------- 480px ---------- */

/* iPhone 4/4S/5/5S | portrait */
@media screen and (max-width: 320px) {

} /* end of (min-width: 320px) */

</style>

<div>
  <h1 class="hello">Hello</h1>
</div>
