<div class="row">
  <div class="col-md-12">
    <change-password></change-password>
  </div>
  <div class="col-md-8">
    <change-password></change-password>
  </div>
  <div class="col-md-4">
    <change-password></change-password>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <change-password></change-password>
  </div>
  <div class="col-md-4">
    <change-password></change-password>
  </div>
  <div class="col-md-4">
    <change-password></change-password>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <change-password></change-password>
  </div>
  <div class="col-md-6">
    <change-password></change-password>
  </div>
</div>
